########################################
# Screws Tilt Adjust for K2PLUS
########################################

[gcode_macro SCREWS_TILT_CALCULATE]
rename_existing: _OG_SCREWS_TILT_CALCULATE
gcode:
  Z_TILT_ADJUST
  _OG_SCREWS_TILT_CALCULATE

[screws_tilt_adjust]
screw1: 45,28
screw1_name: front left screw
screw2: 307,28
screw2_name: front right screw
screw3: 307,314
screw3_name: rear right screw
screw4: 45,314
screw4_name: rear left screw
speed: 150
horizontal_move_z: 10
screw_thread: CW-M4
